[submodule "adobe-blank"]
	path = adobe-blank
	url = https://github.com/adobe-fonts/adobe-blank.git
[submodule "adobe-blank-2"]
	path = adobe-blank-2
	url = https://github.com/adobe-fonts/adobe-blank-2.git
